<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produtos dividido em categorias</h1>
    <a href="{% url 'produtos_insert' %}">Cadastrar produto</a>
    <a href="{% url 'categorias_insert' %}">Cadastrar categoria</a>
    {% for categoria in categorias %}
        <h2>{{ categoria }}</h2>
        <img src="{{ categoria.image.url }}" alt="" width="100px" height="100px">
        <a href="{% url 'categorias_edit' categoria.id %}">Editar categoria</a>
        <a href="{% url 'categorias_delete' categoria.id %}">Deletar Categoria</a>
        <table>
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                {% if produto.categoria == categoria %}
                <tr>
                    <td><img src="{{ produto.image.url }}" alt="" width="60px" height="60px"></td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.preco }}</td>
                    <td><a href="{% url 'produtos_edit' produto.id %}">Editar</a></td>
                    <td><a href="{% url 'produtos_delete' produto.id %}">Deletar</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</body>
</html>